<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  

{% for item in uncheked %}
  <img src="{{ item.link }}" width="100px">
  <button onclick="deleteImage('{{ item.ID }}')">Delete</button>
  <button onclick="updateImage('{{ item.ID }}')">Update</button>
{% endfor %}
 <script>

   function deleteImage(id) {
     $.ajax({
       url: "/deleteImg",
       data: {id: id},
       success: function( result ) {
         console.log(result)
       }
     });
   }
   function updateImage(id) {
     $.ajax({
       url: "/updateImg",
       data: {id: id},
       success: function( result ) {
         console.log(result)
       }
     });
   }
 </script>
</body>
</html>